<title>Crear una Cuenta</title>

<!-- Formulario Iniciar Secion -->

<div class="devise sombra">
<%= image_tag "logo-shaptar-mini.png", alt: "Shaptar Pymes" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Correo Electr칩nico", :class => 'box large', autofocus: true %>
  </div>
<br>
  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> Caracteres como minimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Contrase침a", :class => 'box large' %>
  </div>
<br>
  <div class="field">
    <%= f.label :Confirmar_Contrase침a %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Cntrase침a", :class => 'box large' %>
  </div>
<br><br>
  <div class="actions">
    <%= f.submit "Registrarme", :class => 'button' %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>

</div>
